* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url("/assets/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav::after{
    content: "";
    background-color: black; 
    width: 75%;
    height: 1px;
    position: absolute;
    top: 10%;
}
ul{
    display: flex;
}
.anchors > li{
    padding: 10px;
    display: flex;
    align-items: center;
}
.listIcons > li{
    display: flex;
    align-items: center;
}

li  img{
    width: 15%;

}
.logo{
    width: 15%;
}
.texto-principal {
    position: absolute;
    top:80%;
    left:50px;
}
button{
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}
